<!DOCTYLE html>
<html>
	<head>
		<title>Lingbin Cai Homepage</title>
	</head>
	<body>
		<h1>Lingbin Cai</h1>
		<%= link_to "index", users_path %>
		<%= link_to "new", new_user_path %>
	</body>
</html>
