<!DOCTYLE html>
<html>
	<head>
		<title>Lingbin Cai Homepage</title>
	</head>
	<body>
		<h1>Lingbin Cai Courses</h1>
		<div id='homepage_list'>
			<h3> Course Table </h3>
			<%= link_to "Courses", courses_path %>
			<%= link_to "Add Course", new_course_path %>
			<h3> Task Table </h3>
			<%= link_to "Tasks", tasklists_path %>
			<%= link_to "Add Task", new_tasklist_path %>
		</div>
	</body>
</html>
